* {
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: rgb(74, 71, 71);
}

.App,
.Footer,
.Header,
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App {
  font-size: 5rem;
  background-color: rgb(74, 71, 71);
  color: antiquewhite;
  height: 100vh;
  width: 100vw;
}

/* header */

.Header {
  height: 50px;
  justify-content: center;
}

/* main */
.Main {
  flex-direction: column;
  height: 150px;
}

.Main button {
  border-radius: 20px;
  padding: 10px;
}

.Main button:nth-child(1) {
  background-color: aquamarine;
}

.Main button:nth-child(2) {
  font-size: 2.5rem;
}

/* footer */
.Footer {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

ul {
  list-style: none;
}

ul li:hover {
  color: aqua;
  cursor: pointer;
}
